# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
#	log loghost	local0 info
	maxconn 30720
	#chroot /usr/share/haproxy
	user www
	group www
	daemon
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	30720
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

listen	overkinweb
	bind  	62.76.44.39:80
	acl comet hdr_beg(host) -i comet.
	acl rabbit hdr_beg(host) -i rabbitmq.
	use_backend overkincomet if comet
	use_backend rabbitmq if rabbit
	default_backend overkinhttp
 
backend overkinhttp
	balance roundrobin
	cookie SERVERID insert nocache indirect
	option httpclose
	option forwardfor
	server Local 127.0.0.1:80 cookie Local

backend overkincomet
	balance roundrobin
	cookie SERVERID insert nocache indirect
	option httpclose
	option forwardfor
	server Local 127.0.0.2:8080 cookie Local

backend rabbitmq
	balance roundrobin
        cookie SERVERID insert nocache indirect
        option httpclose
        option forwardfor
	server Local 127.0.0.1:55672 cookie Local


