# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	maxconn 30720
	user www
	group www
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	30720
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

listen	web
	bind :80
	acl comet hdr_beg(host) -i comet.
	acl rabbit hdr_beg(host) -i rabbitmq
	acl apache hdr_end(host) -i apache
	acl apache_win hdr_end(host) -i apache.win 
	use_backend apachehttp if apache or apache_win
	use_backend comet if comet
	use_backend rabbithttp if rabbit
	default_backend http
 
backend http
	balance roundrobin
	cookie SERVERID insert nocache indirect
	option httpclose
	option forwardfor
	server Local 127.0.0.1:8080 cookie Local

backend comet
	balance roundrobin
	cookie SERVERID insert nocache indirect
	option httpclose
	option forwardfor
	server Local 127.0.0.2:8080 cookie Local

backend apachehttp
	balance roundrobin
	cookie SERVERID insert nocache indirect
	option httpclose
	option forwardfor
	server Local 127.0.0.3:8080 cookie Local

backend rabbithttp
	balance roundrobin
    cookie SERVERID insert nocache indirect
    option httpclose
    option forwardfor
    server Local 127.0.0.2:15672 cookie Local
