[
  	{mnesia, [{dump_log_write_threshold, 1000}]},
  	{rabbit, [
		{tcp_listeners, [5672]},
		{collect_statistics_interval, 10000},
		{vm_memory_high_watermark, 0.7}
	]},
	{rabbitmq_management, [{http_log_dir,"/tmp/rabbit-mgmt"}]},
	{rabbitmq_management_agent, [{force_fine_statistics, true}]},
  	{rabbit_mochiweb,[
		{listeners,[
			{'*',  [{port, 55672}, {ip,"127.0.0.1"}]},
			{mgmt, [{port, 55672}, {ip,"127.0.0.1"}]}
		]},
		{default_listener, [{port, 55670}]},
   		{contexts,[
			{daemon_comet,{internal,"comet"}},
			{rabbit_mgmt, mgmt}
		]}
	]}
].
